.sidebar{    
    .site_logo{
        color: #882295;
        font-weight: bold;        
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }
    .menulist{
        margin: 10px 0;
        ul{
            margin:0;
            .menu_group{
                padding-bottom: 15px;
                margin-bottom: 0px;
                border-bottom: 1px solid #d9dff1;
                border-top: 1px solid #e5e7f1;
                &:first-child{
                    border-top: none;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
            .menu_group_header{
                font-size:16px;
                padding: 0px;
                margin: 10px 0;
            }
            li{           
                list-style: none;
                padding: 5px 10px;
                a{
                    font-size: 13px;
                    font-weight: 500;
                    color: #4c5f99;
                    transition: 0.4s all ease-in-out;
                    &:hover{
                        color: #882295;
                    }                    
                }
            }
        }
    }
}