<div class="sidebar">
    <div class="site_logo">
      PlayGround
    </div>
    <div class="menulist">
      <ul>
        <div class="menu_group">
          <h4 class="menu_group_header">Matches</h4>
          <li>
            <a href="/newtask">Create Match</a>
          </li>
          <li>
            <a href="/newtask">Upcomming Matches</a>
          </li>
          <li>
            <a href="/newtask">Past Matches</a>
          </li>
        </div>
        <div class="menu_group">
          <h4 class="menu_group_header">Players</h4>
          <li>
            <a href="/newtask">Add Player</a>
          </li>
          <li>
            <a href="/newtask">All Players</a>
          </li>
          <li>
            <a href="/newtask">Inactive Players</a>
          </li>
        </div>
      </ul>
    </div>
</div>